/* ============================= =================================
                          Fonts import
============================= ================================= */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@600&family=Ubuntu:wght@400;700&display=swap');

/* ============================= =================================
                          CSS VARIABLES
============================= ================================= */

:root {
  --black: #313132;
  --midnight-dream: #323436;
  --onyx: #353434;
  --black-jack: #3D3D3E;
  --black-horizon: #44484d;
  --snow-white: #f1f5f1;
  --accent: #d4653e;

  --gradient: linear-gradient(135deg, #69FF97 10%, #00E4FF 100%);

  --ff-h: 'Sofia Sans Extra Condensed', sans-serif;
  --ff-p: 'Roboto', sans-serif;

  --fz-lg: 2rem;
  --fz-md: 1.6rem;
  --fz-sm: 1.4rem;

  --bold: 700;
  --regular: 400;
}

/* ============================= =================================
                         Global Styles
============================= ================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-p);
  font-size: 10px;
  background: var(--black-horizon);
  color: var(--snow-white);
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  display: block;
}
ul {
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.hero__title {
  font-family: var(--ff-h);
  font-weight: var(--bold);
  text-transform: uppercase;
}
.hero__title {
  padding-bottom: 5em;
}
.page-wrapper {
  flex: 1;
}
.flex {
  display: flex;
}
.container {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}
.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* ============================= =================================
                         Header Styles
============================= ================================= */
.header {
  position: relative;
  background-color: var(--ebony-king);
  padding: .8em 0;
  font-size: var(--fz-md);
}

.header .container {
  justify-content: space-between;
}
.header-links__wrapper {
  position: absolute;
  min-height: 100vh;
  min-width: 100%;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: black;
  transform: translateY(-100%);
  transition: all .3s cubic-bezier(0.51, 0.48, 0.29, 0.98);
}
.header-links {
  font-size: 4rem;
  flex-direction: column;
  gap: 1em;
  letter-spacing: -2px;
  text-align: left;
  position: absolute;
  transform: translate(0, 50%);
}
.header-links span {
  font-size: var(--fz-sm);
  margin-right: 1em;
}
.header-links a {
  transition: all .2s ease-in-out;
  opacity: .6;
}
.header-links a:hover {
  opacity: 1;
}
.header-brand {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}
.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  padding: .5rem 0;
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.button-line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: all .2s ease-in-out;
  transform: translate3d(0px, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.open {
  transform: translateY(0);
}
.toggled .button-line:first-child {
  transform: translate3d(0px, .5rem, 0px) rotateZ(45deg);
}
.toggled .button-line:last-child {
  transform: translate3d(0px, -.5rem, 0px) rotateZ(-45deg);
}
.router-link-active,
.router-link-exact-active {
  opacity: 1 !important;
}
/* ============================= =================================
                         Hero Section Styles
============================= ================================= */
.hero {
  padding: 2em 0 0 0;
}
.hero__heading {
  font-size: 15rem;
  margin-bottom: 2rem;
  line-height: .8;
  letter-spacing: -8px;
  overflow: hidden;
}
.hero__subtitle--text {
  font-family: var(--ff-p);
  font-size: var(--fz-md);
  line-height: 1.4;
  padding: 1em 0;
}
/* ============================= =================================
                         Footer Styles
============================= ================================= */
.footer {
  padding: 2rem 0;
  font-size: var(--fz-md);
}
.footer_content,
.social-links {
  display: flex;
  gap: 4em;
}
.social-links {
  gap: 1em;
}
/* ============================= =================================
                         Skills Section Styles
============================= ================================= */
.skills {
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: var(--black);
}
.skills-wrapper {
  padding: 10em .5em;
  display: grid;
  gap: 3em;
  grid-template-rows: auto;
}
.skill {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em;
  border-radius: 20px;
  background-color: var(--black);
  font-size: var(--fz-md);
}
.skill-bg {
  padding: 1px;
  border-radius: calc(20px + 1px);
  background-image: var(--gradient);
  opacity: .8;
}
.skill-icon {
  font-size: 7rem;
}
.skill-description {
  line-height: 2;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
/* ============================= =================================
                         About Page Styles
============================= ================================= */
.about-content {
  width: 100%;
  padding: 6em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4em;
}
.about-text {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  flex-grow: 1;
  gap: 4em;
  line-height: 2;
  font-size: var(--fz-md);
  font-family: var(--ff-p);
}
.about-text .content__action {
  align-self: flex-start;
}
.about-photo {
  flex-grow: 2;
  align-self: flex-end;
}
.about-photo img{
  margin: 0 auto;
  max-width: 400px;
}
.about-title {
  position: relative;
}
.about-actions,
.project-actions {
  display: flex;
  gap: 2em;
}
.about-actions {
  flex-direction: column;
}
.about-title h1,
.contact-title h1,
.work-title h1,
.project-title h1,
.bg-title {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 6rem;
  top: -.4em;
  right: 0;
  position: absolute;
  opacity: .4;
}
.bg-title {
  top: 0;
}
/* ============================= =================================
                         Contact page Styles
============================= ================================= */
.contact-content {
  display: flex;
  min-height: 80vh;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  font-size: var(--fz-md);
  line-height: 2;
}
.contact-content ul a {
  padding-bottom: 0;
  border-bottom: 1px solid #fff;
  transition: all .3s ease;
}
.contact-content ul a:hover {
  text-decoration: line-through;
  border: 0;
}
.content__action a {
  text-transform: uppercase;
  padding: 1rem .5em;
  position: relative;
  z-index: 1;
}
.content__action a::after {
  content: "";
  display: block;
  height: 100%;
  width: 0;
  bottom: 0;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  z-index: -1;
}
.content__action a:hover {
  color: var(--midnight-dream);
}
.content__action a:hover::after {
  width: 100%;
  left: 0;
}
/* ============================= =================================
                         Work page Styles
============================= ================================= */
.work-content {
  display: grid;
  gap: 1em;
}
.work-card {
  width: 100%;
  overflow: hidden;
  transition: box-shadow .3s ease-in-out;
}
.work-card__info {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fz-sm);
}
.work-card__info--badge {
  align-self: flex-end;
  color: var(--black);
  background: var(--gradient);
  border-radius: 10px;
  padding: .5em 1em;
}
#work-card--title {
  font-size: 2rem;
}
#work-card--title {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}
#work-card--title .line-1,
#work-card--title .line-2 {
  line-height: 1.5;
}
#work-card--title .line-1 {
  opacity: .6;
  transform: translateY(2.5rem);
  transition: transform .3s ease;
}
#work-card--title .line-2 {
  transform: translateY(4rem);
  transition: transform .3s ease;
}
#work-card--title:hover .line-1 {
  transform: translateY(-2rem);
}
#work-card--title:hover .line-2 {
  transform: translateY(-.5rem);
}
.project-description {
  display: flex;
  flex-direction: column;
  font-size: var(--fz-md);
}
.project-description__pic {
  padding: 4em 0;
}
.project-description__pic img {
  max-width: 650px;
  margin-bottom: 4em;
}
.project-description__text {
  display: flex;
  line-height: 1.5;
  font-size: var(--fz-md);
  flex-direction: column;
  justify-content: flex-end;
}
.project-description__text span {
  order: 1;
}
.project-description__text ul {
  order: 2;
  padding: 2em .5em;
  list-style: disc;
}
.project-description__text ul li {
  padding: .8em 0;
}
.project-description--tech {
  order: 0;
  padding-bottom: 1em;
  font-size: var(--fz-md);
}
.project-description--tech h5 {
  font-size: var(--fz-md);
  margin-bottom: 1em;
}
.project-description--tech p {
  line-height: 1.5;
  font-weight: var(--bold);
}
/* ============================= =================================
                         Responsive Styles
============================= ================================= */
@media screen and (min-width: 768px) {
  .hero__title {
    padding-bottom: 10em;
  }
  .hero__heading {
    font-size: 70rem;
    letter-spacing: -40px;
  }
  .skills {
    position: relative;
    padding: 2em 0;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    background-color: var(--black);
  }
  .skills-wrapper {
    padding: 30em 2em 10em 2em;
    display: grid;
    gap: 3em;
  }
  .about-title h1,
  .contact-title h1,
  .work-title h1,
  .project-title h1,
  .bg-title {
    font-size: 40rem;
  }
  .skills-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .about-content,
  .about-actions {
    flex-direction: row;
  }
  .work-content {
    padding: 12em 0;
    grid-template-columns: repeat(2, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 1em;
  }
  .work-card {
    min-width: 360px;
  }
  .work-card__info {
    gap: 2em;
    padding: 2em 0;
  }
  #work-card--title {
    font-size: 4rem;
  }
  #work-card--title .line-1,
  #work-card--title .line-2 {
    line-height: 1.2;
  }
  .work-card__info--badge {
    align-self: center;
  }
  #work-card--title:hover .line-1 {
    transform: translateY(-5rem);
  }
  #work-card--title:hover .line-2 {
    transform: translateY(-2rem);
  }
  .project-description {
    gap: 4em;
    flex-direction: row;
  }
  .project-description__text {
    font-size: var(--fz-lg);
    padding: 4em 0 0 0;
  }
  .project-description__text ul {
    padding: 2em;
  }
  .project-description__text ul li {
    padding: 1em 0;
  }
  .project-description__pic img {
    min-width: 650px;
    max-width: 650px;
    margin-bottom: 4em;
  }
}
@media screen and (min-width: 991px) {}